body {
    margin-top: 100px;
    font-family: 'Courier New';
    text-align: center;
    color: white;
    background: linear-gradient(to right, #dd03e4, #5611ec);
}

#input {
    width: 40%;
    padding: 8px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    color: black;
}

#push {
    margin-top: 1rem;
    background-color: whitesmoke;
    color: black;
    border: 1px solid lightgray;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px;
}
#out{
    width: 80%;
    margin: 0 auto;
}

.box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-radius: 2px;
    padding: 1rem;
    color: #454545;
    margin-top: 10px;
    font-size: 1rem;
    background-color: white;
    border: 1px solid lightgray;
    text-transform: uppercase;
}